.root{
    -fx-background-image: url("background.png");
    -fx-text-fill:"ffffff" ;
    -fx-color-label-visible: "ffffff";
}
.text-field{-fx-prompt-text-fill: "ffffff";}

.radio-button{
    -fx-text-fill: "ffffff";
}
